## Python3 code tips, tricks, snippets. Basic and some
## advanced features.

In [ ]:
#understanding variable assignments in memory
tech = ['C++', 'Swift', 'Python', ['html', 'css', 'Javascript',['Go','Objective_C'],'Rust']]
learning = tech[:]

print(id(learning[-1]), id(tech[-1]))
learning[-1][-1] = 'pictures'
print(tech)

In [ ]:
# This is a slice of the sublist of learning = ('gifs') 
#from the upper list of ['html', 'css', 'Javascript']
print(tech[3][4])
print(id(learning[-1]), id(tech[-1]))

In [24]:
# slice a letter from a list inside a sublist inside a sublist
tech2 = ['C++', 'Swift', 'Python', ['html', 'css', 'Javascript',
        ['Go', 'Objective_C', ['software_developer', 
        ['Data_Science', 'Guru'], 'Linux']], 'Rust']]
tech2[3][3][2][1][1][-1]

'u'

In [ ]:
#check for an empty list
data = []
print(not data)

In [ ]:
data2 = None
print(not data2)

In [ ]:
# all variables defined in local scope
#print(locals())
# the variables defined in global list, note: list may be very long
#print(globals())
data = []
print('data' in locals(), 'data' in globals())

In [ ]:
def func():
    data = []
    print('data' in locals(), 'data' in globals())
func()

In [25]:
# print different variables in 1 line
print('Name:      Age:     Favorite Language:        Job:          Cellphone #:        Email:           Preffered Communication:')
name = "John Rambo"
age = 52
favorite_languages = ['C++', 'Python', 'Ruby']
occupation = ['133t hacker']
phone_number = ['800-killforfun']
email = ["I don't do email"]
preffered_comm = ['text me']
print(name, age, favorite_languages, occupation, phone_number, email, preffered_comm)

Name:      Age:     Favorite Language:        Job:          Cellphone #:        Email:           Preffered Communication:
John Rambo 52 ['C++', 'Python', 'Ruby'] ['133t hacker'] ['800-killforfun'] ["I don't do email"] ['text me']

In [27]:
name = "John"
age = 47
favorite_languages = ['C++', 'Python', 'Ruby', 'Perl', 'Java', 'Objective_C']
new_favorite = ['Go', 'Kotlin', 'Rust', 'Julia', 'Keras', 'Scala']
msg = name + " " + str(age) + " " + \
    favorite_languages[0] + " " + new_favorite[5]
print(msg)

John 47 C++ Scala

In [28]:
name = "John"
age = 47
favorite_languages = ['C++', 'Python']
new_favorite = ['Go', 'Kotlin', 'Rust', 'Julia']
msg = f'{name} is {age} years old and loves {favorite_languages[1]} and {new_favorite[0]}.'
print(msg)

John is 47 years old and loves Python and Go.

In [ ]:
# user  and admin escalation
reputation = 2
status = None
status = "admin" if reputation > 15 else "user"
print(status)

In [ ]:
reputation = 7
#status = None
if reputation >= 20:
    print("Boss")
elif reputation >= 15:
    print("admin")
else:
    print("user")
print(reputation)

In [ ]:
pets = ['dog', 'cat', 'horse', 'penguin']
if 'cat' in pets:
    print('Cat exists')


pets2 = ['dog', 'dog', 'cat', 'bird', 'chicken', 'dog']
if 'cat' in pets2:
    print("nope, can't have a cat")
has_cats = False
for pet in pets:
    print(pet)
    if pet == "cat":
        has_cats = True
        break
        
if has_cats:
    print("no cats allowed sorry")
pets.remove('cat')
for pet in pets:
    
    print(pet)
    if pet == "cat":
        break
else:
    print("OK, we're good")

In [29]:
# My first real attempt to shorten Python code
pets = ['dog', 'cat', 'horse', 'penguin']
pets.remove('cat')
for pet in pets:
    print(pet)
    if pet == "cat":
        #has_cats = True
        break
# if cat in pets:
#      break
    else:
        print("we are good no cats!")

dog
we are good no cats!
horse
we are good no cats!
penguin
we are good no cats!

In [ ]:
#Another if x in example
if 'horse' in ('dog', 'cat', 'horse', 'penguin'):
    print('horse exists')
if 'cat' in ('dog', 'cat', 'sheep'):
    print('cat exist')
if 'sheep' not in ('dog', 'cat', 'horse', 'penguin'):
    print('sheep does not exist')

In [ ]:
#print a range
print(list(range(28)))
print(type(range(28)))
print(list(range(14, 60, 2)))

In [ ]:
#second attempt at coding my own cell, WTF is this binary output?
for x in range(28):
    print(int(x%2))

In [ ]:
for i in range(10):
    print(i)

In [ ]:
# Too many dogs
pets = ['dog','dog', 'cat', 'bird', 'chickens', 'dog']
print(set(pets))
print(list(set(pets)))

In [19]:
# enumerate pets
pets = ['dog','dog', 'cat', 'bird', 'chickens', 'dog', 'cat', 'iguana']
for i, pet in enumerate(pets):
    print(pet, i)

dog 0
dog 1
cat 2
bird 3
chickens 4
dog 5
cat 6
iguana 7

In [ ]:
# bad way but seems easier to me
weather = "sunshine"
if weather == 'rainy' or weather == 'stormy' or weather == 'snow':
    print("canceled til further notice")
else:
    print("It's party time")

In [31]:
weather = 'crappy'
if weather in ['rainy', 'stormy', 'crappy', 'snowy', 'tornado', 'hurricane', 'we gonna die']:
    print("Sorry We're Closed!")
else:
    print("50% off SALE!!!")

Sorry We're Closed!

In [21]:
# Meets conditions? Evil Boss
# Requirements scoring 
# age >= 18
# repution = 1 - 100
# appearance = 1 - 10
# talks_alot = 1 - 10
# hard_worker = 1 - 10
# hot_chick = 1 - 10
# knowledge = 1 - 10
# Boot_licker = 1 - 10
# Needs_Firing = 1 - 10
#=====================================================================================
# Worker Stats
age = 21
reputation = 70 # 1 - 100
appearance = 7
talks_alot = 2
hard_worker = 10
hot_chick = 0
knowledge = 7
python_genius = 3
the_snitch = 0
needs_firing = 0
#======================================================================================
# Do not change conditions below, unless you are the Tech lead.
# status = None
# status = "admin" if reputation > 20 else "standard user"
# print(status)

conditions= [
    age >= 18,
    reputation >= 90,
    appearance >= 3,
    talks_alot <= 7,
    hard_worker >= 2,
    hot_chick >= 9,
    knowledge >= 8,
    the_snitch >= 9,
    needs_firing <= 8,
    python_genius >= 10,
]

if all(conditions):
    print("admin")
elif python_genius >= 10:
    print("Cheif Technology Officer")
elif python_genius >= 8:
    print("Tech Lead")
elif talks_alot >= 10:
    print("Please report to HR and hand in your badge, have a nice day.")
elif knowledge >= 9:
    print("admin")
elif hot_chick >= 9:
    print("Personal Secretary")
elif the_snitch >= 8:
    print("We'll keep around as a snitch.")
elif needs_firing >= 10:
    print("Please report to HR and hand in your badge, have a nice day.")
elif reputation >= 90:
    print("Qualifies for admin or higher")
else:
    print("standard user")

standard user

In [30]:
#while loops
while True:
    print('''Choose an option:
1. play game
2. load game
3. high scores
4. quit
''')
    if input() == '4':
        break

Choose an option:
1. play game
2. load game
3. high scores
4. quit

4

In [15]:
#function example
def done():
    print("done")
def do_something(func):
    print("do something...")
    func()
    
do_something(done)

do something...
done

In [18]:
#function example loading... 
import time

def done():
    print("done")
def do_something(func):
    print("loading......")
    time.sleep(8)
    func()
do_something(done)

loading......
done

In [22]:
# Remove a nested list
pairs = [[1, 2], [3, 4], [5, 6, 7, 8, 9, 10], ['flowers, and rainbows']]
flat = []
for pair in pairs:
    for item in pair:
        flat.append(item)
        
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'flowers, and rainbows']

In [23]:
# better way to do the above is with a list comprehension
pairs = [[1, 2], [3, 4], [5, 6, 7, 8, 9, 10], ['flowers, and rainbows']]
flat = [item for pair in pairs for item in pair]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'flowers, and rainbows']

In [1]:
# Datetime in Python
import datetime
date1 = datetime.date(2021, 12, 3)
year = 2021
month = 12
day = 3

date2 = datetime.date(year, month, day)
time1 = datetime.time(23, 59, 59, 1000)
print(time1)

time1.hour
time1.minute
time1.second

dt = datetime.datetime(2016, 10, 23)
#Today
d1 = datetime.date.today()
print(d1)

d3 = datetime.datetime.today()
print(d3)

23:59:59.001000
2020-12-06
2020-12-06 17:46:21.892278

In [10]:

from datetime import date, time, datetime, timedelta
date1 = datetime(2017, 11, 20, 1)
date2 = datetime(2017, 11, 10)
one_day = timedelta(days=1)
date1 - date2 + one_day

datetime.timedelta(days=11, seconds=3600)

In [14]:
one_day = timedelta(days=1)
date1 - date2 + one_day
one_month = timedelta(days=30)
t_date = datetime(2020, 11, 1)
today = datetime.today()
if (today - t_date) <= one_month:
    print("True")
else:
    print("False")

False

In [16]:
# Division of time delta
from datetime import date, time, datetime, timedelta
one_month = timedelta(days=30)
one_month /10
one_month /12

datetime.timedelta(days=2, seconds=43200)

In [32]:
from datetime import datetime
date1 = datetime(2020, 12, 3, 21, 45, 19)
str(date1)
# dd-mm-yyyy format
#datetime.strftime(date1, '%m-%d-%Y')
#datetime.strftime(date1, '%H:%M:%S')
datetime.strftime(date1, '%I:%M:%S %p')

'09:45:19 PM'

In [1]:
#lambdas anonymouse, single-use, or throw-away functions
add5 = lambda x: x + 5
print(add5(50))

55

In [2]:
square = lambda x: x * x
print(square(8))

64

In [3]:
get_tens = lambda p: int(p/10)%10
print(get_tens(749))
print(get_tens(836.21))

4
3

In [1]:
# Object Oriented Programming in Python for beginners
class Dog:
    def bark(self):
        print("bark")
d = Dog()
d.bark()
print(type(d))

bark
<class '__main__.Dog'>

In [8]:
class Dog:
    def __init__(self, name):
        self.name = name
        
    def add_dog(self, x):
        return x + 1
    
    def bark(self):
        print("bark")
d = Dog("Buster")
print(d.name)
d2 = Dog("Buddy")
print(d2.name)
d.bark()
print(type(d))
print(d.add_dog(1))

Buster
Buddy
bark
<class '__main__.Dog'>
2

In [12]:
# OOP beginner level, getter
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def get_name(self):
        return self.name
d = Dog("Buster", 34)
print(d.name, d.age)
d2 = Dog("Buddy", 12)
print(d2.get_name())

Buster 34
Buddy

In [2]:
#multiple classes
import datetime

class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade # 0 - 100
    def get_grade(self):
        return self.grade
class Course:
    def __init__(self, name, max_students):
        self.name = name
        self.max_students = max_students
        self.students = []
        
    def add_student(self, student):
        if len(self. students) < self.max_students:
            self.students.append(student)
            return True
        return False
    def get_average_grade(self):
        value = 0
        for student in self.students:
            value += student.get_grade()
        return value / len(self.students)
    
s1 = Student("Jason", 19, 98)
s2 = Student("Jack", 19, 75)
s3 = Student("Jennifer", 29, 67)
course = Course("Computer_Science", 3)
course.add_student(s1)
course.add_student(s2)
course.add_student(s3)
d3 = datetime.datetime.today()
print(d3)
print(course.name)
print("Class Failures: ")
print(course.students[2].name)
print("Class Valedictorian")
print(course.students[0].name)
print("Class Average Grade: ")
print(course.get_average_grade())

2020-12-06 17:48:09.942404
Computer_Science
Class Failures:
Jennifer
Class Valedictorian
Jason
Class Average Grade:
80.0

In [30]:

#Reading a csv file
import pandas as pd

In [31]:
# Reading a csv file
csvdata = pd.read_csv('/home/neziakl1/Desktop/git_public/blog_data.csv')
# another path example:
#csvdata= pd.read_csv('D:/folder_name/csv_file.csv')

In [32]:

csvdata.head()

,title,link,date
0,Dealing With Imposter Syndrome,/blog/dealing-with-coding-bootcamp-imposter-sy...,"{'pubdate': '', 'datetime': '2020-10-22 17:49:..."
1,Alumni Spotlight: Genna Mergola,/blog/alumni-spotlight-genna-mergola,"{'pubdate': '', 'datetime': '2020-10-14 21:37:..."
2,Four Software Engineering Portfolio Protips,/blog/four-portfolio-software-engineering-protips,"{'pubdate': '', 'datetime': '2020-09-24 20:44:..."
3,How To Get Into A Top Coding Bootcamp,/blog/how-to-get-into-top-coding-bootcamp-rith...,"{'pubdate': '', 'datetime': '2020-09-22 19:11:..."
4,Taking Breaks: Why Being Busy Doesn't Equal Pr...,/blog/taking-breaks-for-productivity,"{'pubdate': '', 'datetime': '2020-08-19 21:24:..."

In [29]:
# Print current working directory in my case it's: /home/neziakl1/Desktop/git_public
import os
print('current directory')
print(os.getcwd())

current directory
/home/neziakl1/Desktop/git_public

In [33]:
# Reading a text file into Jupyter Notebook
import pandas as pd
txtdata = pd.read_table('/home/neziakl1/Desktop/src/haiku.txt', sep=';')

In [34]:
txtdata.head()

                               Added using r+  great
0                        Here's another line of text
1                        I like writing intoo filezz
2        Closing now, goodbye!I'm baaaaaack sucka!!!
3  NOTE: r+ will only let you write to an EXISTIN...
4            A AND W WILL ALLOW TO CREATE A NEW FILE