## Python3: Beginner level, Tuples, Sets, Lists,
## Dictionaries, Variables, Iterables, For loops, 
## Try:Except  Blocks, While loops, functions (def), etc...

In [1]:
for x in ('a', 'b', 'c', 10):
    print(x)

a
b
c
10

In [2]:
for x in [(1, 2), (3, 4), (5, 6)]:
    print(x)

(1, 2)
(3, 4)
(5, 6)

In [3]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [4]:
for i in range(1, 5):
    print(i)
    if i % 7 == 0:
        print('multiple of 7 found')
        break
else:
    print('no multiple of 7 in this range')

1
2
3
4
no multiple of 7 in this range

In [5]:
s = 'hello'
for c in s:
    print(c)

h
e
l
l
o

In [6]:
s = 'hello'
i = 0
for c in s:
    print(i, c)
    i += 1

0 h
1 e
2 l
3 l
4 o

In [7]:
s = 'hello'

for i in range(len(s)):
    print(i, s[i])

0 h
1 e
2 l
3 l
4 o

In [8]:
s = 'hello'

for i, c in enumerate(s):
    print(i, c)

0 h
1 e
2 l
3 l
4 o

In [9]:
#Every object aka variable defined is allocated a slot in
#memory called the Heap
variable = 15
print(hex(id(variable)))

0x55eea0eacf00

In [10]:
#Every object aka variable defined is allocated a slot in
#memory called the Heap
#Bottom line, variables are bits of data (zeros and ones) creating bytes.
#(8 bits = 1 byte) of data. Which are stored in memory addresses.
variable_2 = 10
print(hex(id(variable_2)))

0x55eea0eace60

In [11]:
#However, variables can claim the same memory address location
my_var = 10
print(hex(id(my_var)))
#----------------------------------
other_var = my_var
print(hex(id(other_var)))

0x55eea0eace60
0x55eea0eace60

In [12]:
import ctypes
variable_3 = 1000
def ref_count(address: int):
    return ctypes.c_long.from_address(address).value
 
ref_count(id(variable_3))

2

In [13]:
import ctypes
variable_4 = 1000
def ref_count(address: int):
    return ctypes.c_long.from_address(address).value
 
ref_count(id(variable_2))

177

In [14]:
#Manually run garbage collecter
import gc
gc.collect()

387

In [15]:
a = 'HELLO'

In [16]:
type(a)

str

In [17]:
a = 10
type(a)

int

In [18]:
#Notice how (a) changes type as you assign it to a different class 
#first it was a str, then an int, then a function, then complex
a = lambda x: x**2
a(2)
type(a)

function

In [19]:
a = 3 + 4j
type(a)

complex

In [20]:
#memory address changes here because we assigned same variable another object ???
my_var = 10
print(id(hex(my_var)))
my_var = my_var + 5
print(id(hex(my_var)))

139753501074480
139753475416496

In [21]:
my_list = [1, 2, 3]
print(id(my_list))
print(type(my_list))

my_list.append(4)
print(my_list)
print(id(my_list))

139753501263616
<class 'list'>
[1, 2, 3, 4]
139753501263616

In [22]:
#memory address does not change for dict. WE SHALL SEE
my_dict = dict(key1=1, key2='a')
id(my_dict)

139753501104000

In [23]:
my_dict['key3'] = 10.5

In [24]:
id(my_dict)

139753501104000

In [25]:
same_memory = True
print(same_memory)

True

In [26]:
#tuple is immutable but the sets inside are mutable
t = ([1, 2], [3, 4], [5, 6])
t[2].append(7)
print(t)

([1, 2], [3, 4], [5, 6, 7])

In [27]:
def modify_tuple(t):
    print('Initial t # = {0}'.format(id(t)))
    t[0].append(100)
    print('Final t # = {0}'.format(id(t)))

In [28]:
my_tuple = ([1, 2], 'a')

In [29]:
id(my_tuple)

139753475392896

In [30]:
modify_tuple(my_tuple)

Initial t # = 139753475392896
Final t # = 139753475392896

In [31]:
print(my_tuple)

([1, 2, 100], 'a')

In [32]:
# a is == equal to be but a is NOT b in memory
a = [1, 2, 3]
b = [1, 2, 3]
id(a)

139753475416896

In [33]:
id(b)

139753475417792

In [34]:
print('a is b', a is b)
print('a == b', a == b)

a is b False
a == b True

In [35]:
def my_func():
    a = 24 * 60
    b = (1, 2) * 5
    c = 'abc' * 3
    d = 'ab' * 11
    e = 'the quick brown fox' * 5
    f = ['a', 'b'] * 3

In [36]:
my_func.__code__.co_consts

(None,
 1440,
 (1, 2, 1, 2, 1, 2, 1, 2, 1, 2),
 'abcabcabc',
 'ababababababababababab',
 'the quick brown foxthe quick brown foxthe quick brown foxthe quick brown foxthe quick brown fox',
 'a',
 'b',
 3)

In [37]:
def my_func(e):
    if e in [1, 2, 3]:
        pass

In [38]:
my_func.__code__.co_consts

(None, (1, 2, 3))

In [39]:
def my_func(e):
    if e in {1, 2, 3}:
        pass

In [40]:
my_func.__code__.co_consts

(None, frozenset({1, 2, 3}))

In [41]:
import string
import time

In [42]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [43]:
char_list = list(string.ascii_letters)

In [44]:
char_tuple = tuple(string.ascii_letters)

In [45]:
char_set = set(string.ascii_letters)

In [46]:
print(char_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [47]:
print(char_tuple)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z')

In [48]:
print(char_set)

{'E', 'L', 'H', 'y', 'z', 'B', 'f', 'a', 'h', 'q', 'V', 'G', 'P', 'k', 'I', 'Q', 'J', 'b', 'l', 'X', 'e', 'Z', 'O', 'Y', 'S', 'd', 'w', 'm', 'K', 'T', 'p', 'M', 'C', 'x', 'A', 'u', 'g', 'c', 'j', 's', 'F', 't', 'D', 'o', 'r', 'W', 'i', 'R', 'N', 'U', 'v', 'n'}

In [49]:
def membership_test(n, container):
    for i in range(n):
        if 'z' in container:
            pass

In [50]:
start = time.perf_counter()
membership_test(10000000, char_list)
end = time.perf_counter()
print('list: ', end-start)

list:  6.9314358179999545

In [51]:
start = time.perf_counter()
membership_test(10000000, char_tuple)
end = time.perf_counter()
print('tuple: ', end-start)

tuple:  6.9518580789990665

In [52]:
# Way faster i guess
start = time.perf_counter()
membership_test(10000000, char_set)
end = time.perf_counter()
print('Set: ', end-start)

Set:  0.6661363860002893

In [53]:
print(type(0))

<class 'int'>

In [54]:
import sys

In [55]:
sys.getsizeof(0)

24

In [56]:
sys.getsizeof(1)

28

In [57]:
sys.getsizeof(2**1000)

160

In [58]:
2**1000
# Below is what 160 bits of data looks like

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [59]:
import math
# mafs

In [60]:
math.floor(3.15)

3

In [61]:
math.floor(-3.999)

-4

In [62]:
math.floor(-3.0000001)

-4

In [63]:
#So many rulez I don't understand =(
#This is because eventually a float has limited percision
math.floor(-3.0000000000000001)

-3

In [64]:
a = -33
b = 16
print(a/b)
print(a//b)
print(math.floor(a/b))
print(math.trunc(a/b))

-2.0625
-3
-3
-2

In [65]:
a = b * (a//b) + (a%b)

In [66]:
a = -13
b = 4
print('(0)/(1) = (2)'.format(a, b, a/b))
print('(0)/(1) = (2)'.format(a, b, a//b))
print('(0)/(1) = (2)'.format(a, b, a%b))
print(a == b * (a//b) * (a%b))

(0)/(1) = (2)
(0)/(1) = (2)
(0)/(1) = (2)
False

In [67]:
import math
a = 20
math.isfinite(a)

True

In [68]:
print(math.isnan(a))

False

## Slicing in Python

In [69]:

var_string = 'This line is for practicing my slicing.'
print(var_string[::-1])

.gnicils ym gnicitcarp rof si enil sihT

In [70]:
print(var_string[16::])

 practicing my slicing.

In [71]:
print(var_string[-8:-1:])

slicing

In [72]:
print(var_string[0::])

This line is for practicing my slicing.

In [73]:
print(var_string[27:30:])

 my

In [74]:
var_string.find('practicing')

17

In [75]:
var_string.index('practicing')

17

In [76]:
#counts total number of letters in string
var_string.count('i')

7

In [77]:
var_string.upper()

'THIS LINE IS FOR PRACTICING MY SLICING.'

## Concatenation of strings

In [78]:
var1 = 'Hello'
var2 = 'World'
var3 = var1 + ' ' + var2
print(var3)

Hello World

In [79]:
print('My name is %s and my age is %i I am an International %s'%('Vorkampfer', 51, '$tuNNa!!!'))

My name is Vorkampfer and my age is 51 I am an International $tuNNa!!!

In [80]:
#Replace method
var1 = "John plays foozball. John nancy boy plays golf."
print(var1)
var2 = input('current value to be replaced : ')
var3 = input('Please enter the new value : ')
var1.replace(var2,var3)

John plays foozball. John nancy boy plays golf.
current value to be replaced : John
Please enter the new value : Bobby

'Bobby plays foozball. Bobby nancy boy plays golf.'

In [81]:
#Replace plus count method
var1 = "John plays foozball. John nancy boy plays golf."
print(var1)
var2 = input('current value to be replaced : ')
var3 = input('Please enter the new value : ')

count = input('Number of instances to be removed : ')
var1.replace(var2,var3, int(count))

John plays foozball. John nancy boy plays golf.
current value to be replaced : John
Please enter the new value : Bob
Number of instances to be removed : 1

'Bob plays foozball. John nancy boy plays golf.'

In [83]:
# .format() method kind of easy to understand just replacing values inside of {}
# .format by integer
user_name = 'Dirty Bill Gates'
order_value = int(input('Please enter the order value : '))
                  
result = 'Customer name is shithead Mr.{0}. The total order value for Mr. {0} is ${1}.'
result.format(user_name, order_value)

Please enter the order value : 1000000000

'Customer name is shithead Mr.Dirty Bill Gates. The total order value for Mr. Dirty Bill Gates is $1000000000.'

In [93]:
# .format() by named index or key
user_name = 'Dirty Bill Gates'
order_value = int(input('Please enter the order value : '))
result = 'Customer name is p.o.s. Mr.{name}. The total order value for Mr. {name} is ${value}.'
result.format(name=user_name, value=order_value)

Please enter the order value : 10000000000000000000

'Customer name is p.o.s. Mr.Dirty Bill Gates. The total order value for Mr. Dirty Bill Gates is $10000000000000000000.'

In [94]:
# simple if statement
salary = int(input('Please enter your salary : '))
if salary >= 5000:
    print("Congrats you home loan is approved!!!")
else:
    print('Sorry bro you need a better job.:/')

Please enter your salary : 60000
Congrats you home loan is approved!!!

In [95]:
#short hand if else statement, not recommended
salary = int(input('Please enter your salary : '))
print('Your loan was approved!') if salary >= 5000 else print('Loan Declined')

Please enter your salary : 5000
Your loan was approved!

In [84]:
#salary: accept the input
salary = int(input('Please enter your salary : '))
age = int(input('Please enter your age : '))
#print("")
if salary >= 7000 and age >= 45:
    print('Auto Approved.')
else:
    print('Approved Manually.')

Please enter your salary : 6000
Please enter your age : 46
Approved Manually.

In [4]:
#check the membership of a string using if statement
string = 'Python programming is fun.'
sub = input('Please enter the keyword to search : ')
print('')
if sub in string:
    print('The search results are positive. ')
else:
    print("Word or phrase NOT FOUND")

Please enter the keyword to search : Python programming is

The search results are positive.

In [5]:
#While loop example
i = 0
while i < 10:
    print(i)
    i += 2

0
2
4
6
8

In [6]:
#while loop boolean set to false
i = 0
var1 = True
#while i < 10:
while var1:
    print(i)
    i += 2
    
    if i >= 10:
        var1 = False

0
2
4
6
8

In [8]:
#for loop
name = input('Please enter the name : ')
i = 1
for letters in name:
    print('Character number {} is {}'.format(i, letters))
    i += 1

Please enter the name : henry
Character number 1 is h
Character number 2 is e
Character number 3 is n
Character number 4 is r
Character number 5 is y

In [10]:
#for loop in a range
name = input('Please enter the word : ')
# i goes from 0 index until the end of the string
length = len(name)
for i in range(0, length, 1):
    print('Character number {} is {} '.format(i+1, name[i]))

Please enter the word : Harry Potter
Character number 1 is H
Character number 2 is a
Character number 3 is r
Character number 4 is r
Character number 5 is y
Character number 6 is
Character number 7 is P
Character number 8 is o
Character number 9 is t
Character number 10 is t
Character number 11 is e
Character number 12 is r

In [13]:
# nested fo loops
#i, j for cross table numbers
for i in range(1,20,1):
    #print('')
    for j in range(1,11,1):
        result = i*j
        print(result, end=' ')

1 2 3 4 5 6 7 8 9 10 2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50 6 12 18 24 30 36 42 48 54 60 7 14 21 28 35 42 49 56 63 70 8 16 24 32 40 48 56 64 72 80 9 18 27 36 45 54 63 72 81 90 10 20 30 40 50 60 70 80 90 100 11 22 33 44 55 66 77 88 99 110 12 24 36 48 60 72 84 96 108 120 13 26 39 52 65 78 91 104 117 130 14 28 42 56 70 84 98 112 126 140 15 30 45 60 75 90 105 120 135 150 16 32 48 64 80 96 112 128 144 160 17 34 51 68 85 102 119 136 153 170 18 36 54 72 90 108 126 144 162 180 19 38 57 76 95 114 133 152 171 190

In [3]:
#print a table using for loop and then a break
for i in range(1,20,1):
    
    if i > 10:
        break
    for j in range(1,11,1):
        result = i*j
        print(result, end=' ')
    #print('')

1 2 3 4 5 6 7 8 9 10 2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50 6 12 18 24 30 36 42 48 54 60 7 14 21 28 35 42 49 56 63 70 8 16 24 32 40 48 56 64 72 80 9 18 27 36 45 54 63 72 81 90 10 20 30 40 50 60 70 80 90 100

In [2]:
0.1 + 0.1 == 0.2

True

In [5]:
0.1 + 0.1 is 0.2

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-5-768523be48a5>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  0.1 + 0.1 is 0.2

True

In [22]:
#if in a list
#works for a string but not for int object in list

my_list = [1, 2, 3, 4, 5, 'sarah', 'mike', 'ralph']
slist = input('Please enter a name or number to search : ')
if slist in my_list:
    print('We have found a name or number you searched for.')
else:
    print('We have not found the name or number specified.')

Please enter a name or number to search : mike
We have found a name or number you searched for.

In [7]:
#assigning functions to variables in oop
class Customer:
    def __init__(self, name, membership_type):
        self.name = name
        self.membership_type = membership_type
        print('customer created')
        
cust = Customer('Caleb', 'Gold')
print(cust.name, cust.membership_type)

cust2 = Customer('Brad', 'Bronze')
print(cust2.name, cust2.membership_type)

customer created
Caleb Gold
customer created
Brad Bronze

In [88]:
# More OOP
class Customer:
    def __init__(self, name, membership_type):
        self.name = name
        self.membership_type = membership_type
        print('customer created')
    def update_membership(self, new_membership):
        print('Calculating costs')
        #invoke an API
        #update a database
        #charge the customer
        #pretty much anything else
        self.membership_type = new_membership
    def read_customer():
        print('Reading customer from DB')
    def __str__(self):
        print("converting to string")
        return self.name + " " + self.membership_type
    def print_all_customers(customers):
        for customer in customers:
            print(customer)
    def __eq__(self, other):
        if self.name == other.name and self.membership_type ==  other.membership_type:
            return True
        return False
    #__hash__ == None
    #__repr__ == __str__
customers = [Customer('Caleb', 'Gold'), 
             Customer('Brad', 'Bronze')]
print(customers)
print(customers[1].membership_type)
customers[1].update_membership('Gold')
print(customers[1].membership_type)
print(customers[1])
#customers[0].read_customer()    ...not invocable because we do not have self in this function
Customer.read_customer() #Static method, invoking the class not the function???
Customer.print_all_customers(customers) #Static method invoking the class not the func

customer created
customer created
[<__main__.Customer object at 0x7f3f50907670>, <__main__.Customer object at 0x7f3f50907ac0>]
Bronze
Calculating costs
Gold
converting to string
Brad Gold
Reading customer from DB
converting to string
Caleb Gold
converting to string
Brad Gold

In [91]:
#OOP getter and setter
class User:
    def log(self):
        print(self)
        
class Customer(User):
    def __init__(self, name, membership_type):
        self.name = name
        self.membership_type = membership_type
        #print('customer created')
    @property
    def name(self):
        print("getting name")
        return self._name
    @name.setter
    def name(self, name):
        print("setting name")
        self._name = name
        
    def update_membership(self, new_membership):
        print('Calculating costs')
        #invoke an API
        #update a database
        #charge the customer
        #pretty much anything else
        self.membership_type = new_membership
    def read_customer():
        print('Reading customer from DB')
    def __str__(self):
        print("converting to string")
        return self.name + " " + self.membership_type
    def print_all_customers(customers):
        for customer in customers:
            print(customer)
    def __eq__(self, other):
        if self.name == other.name and self.membership_type ==  other.membership_type:
            return True
        return False
    #__hash__ == None
    #__repr__ == __str__
customers = [Customer('Caleb', 'Gold'), 
             Customer('Brad', 'Bronze')]
print(customers)
print(customers[1].membership_type)
customers[0].log()

setting name
setting name
[<__main__.Customer object at 0x7f3f509078e0>, <__main__.Customer object at 0x7f3f509073d0>]
Bronze
converting to string
getting name
Caleb Gold

In [10]:
varT = True
num_list = []
# accept the list elements until user enters zero
while varT:
    num = int(input("Please enter a number or 0 to end. : "))
    
    if num == 0:
        varT = False
    else:
        num_list.append(num)

Please enter a number or 0 to end. : 43
Please enter a number or 0 to end. : 356
Please enter a number or 0 to end. : 45
Please enter a number or 0 to end. : 7
Please enter a number or 0 to end. : 76
Please enter a number or 0 to end. : 677
Please enter a number or 0 to end. : 0

In [12]:
num_list = [10, 20, 45]
snum = int(input("Please enter the number to search for : "))
position = num_list.index(snum)
print("We have found the number {} at index position {}".format(snum, position))

Please enter the number to search for : 20
We have found the number 20 at index position 1

In [34]:
# Access elements of a multidimensional list
list1 = [[20, 15], 42, "Frank", 55]

#sublist = list1[0]
#sublist[1]
# the following way is the best way to access the list instead
#of using a sublist
list1[2][1:5]

'rank'

In [37]:
# Access elements of a multidimensional list another example
list1 = [[[20, 15],[65, 12]], 42, "Frank", 55]
list1[0][1][1]

12

In [44]:
# Access elements of a multidimensional list another example
list1 = [[[20, 15],["Betty"]], 42, "Frank", 55]
list1[0][1]

'Betty'

In [6]:
# Dicts in Python appending dict and del dict
# Define and initialise a dict
address = {'Street' : '180 Adams Court',
          'City' : 'Chicago',
          'State' : 'Il',
          'Country' : 'USA'}
#print(address['Street'])
# Add and update the key-value pair
# address['Street'] = '181 Adams Circle'
# address['Zip'] = '60606'

# # Delete a key-value pair
# del address['City']
address['Street'] = '181 Adams Circle'
print(address['Street'])
print(address)

181 Adams Circle
{'Street': '181 Adams Circle', 'City': 'Chicago', 'State': 'Il', 'Country': 'USA'}

In [57]:
address['Zip'] = '60606'
print(address)

{'Street': '181 Adams Circle', 'City': 'Chicago', 'State': 'Il', 'Country': 'USA', 'Zip': '60606'}

In [59]:
del address['Street']
print(address)

{'City': 'Chicago', 'State': 'Il', 'Country': 'USA', 'Zip': '60606'}

In [3]:
len(address)

4

In [4]:
address.keys()

dict_keys(['Street', 'City', 'State', 'Country'])

In [9]:
values = list(address.values())
print(values)

['181 Adams Circle', 'Chicago', 'Il', 'USA']

In [10]:

keys = list(address.keys())
print(keys)

['Street', 'City', 'State', 'Country']

In [15]:
keys[2:3]

['State']

In [14]:
keys[::-1]

['Country', 'State', 'City', 'Street']

In [19]:
keys[3]

'Country'

In [4]:
#make a phonebook list
# Initialise the variables
varT = True
sublist = []
phonebook = []
# Run the loop, Create an outlined structure first.
while varT:
    print("")
    print("          Welcome to the Phonebook             ")
    print("-----------------------------------------------")
    print("   Please choose one of the options below.")
    print("   A - To add a contact")
    print("   S - To Search a contact")
    print("   E - To Exit the Phonebook")
    
    option = input("Option : ")
    
    if option == "E":
        varT = False
        
    elif option == "A":
        name  = input("Please enter the name     : ")
        num   = input("Please enter the number   : ")
        email = input("Please enter the email ID : ")
        
        sublist = [name, num, email]
        
        phonebook.append(sublist)
        print("The contact {} has been added successfully.".format(name))
        
    elif option == "S":
        sname = input("Please enter the name to search for : ")
        found = False
        
        for sublist in phonebook:
            if sname in sublist:
                print("{} is in the phonebook here are the details.".format(sname))
                print(sublist)
                found = True
                
        if not found:
            print("I'm sorry {} is not found in the phonebook.".format(sname))
            
        
    else:
        print("Sorry, you have a chosen a wrong action. ")

          Welcome to the Phonebook
-----------------------------------------------
   Please choose one of the options below.
   A - To add a contact
   S - To Search a contact
   E - To Exit the Phonebook
Option : A
Please enter the name     : Mike
Please enter the number   : 210-364-1812
Please enter the email ID : mike_belfast@protonmail.com
The contact Mike has been added successfully.

          Welcome to the Phonebook
-----------------------------------------------
   Please choose one of the options below.
   A - To add a contact
   S - To Search a contact
   E - To Exit the Phonebook
Option : S
Please enter the name to search for : Mike
Mike is in the phonebook here are the details.
['Mike', '210-364-1812', 'mike_belfast@protonmail.com']

          Welcome to the Phonebook
-----------------------------------------------
   Please choose one of the options below.
   A - To add a contact
   S - To Search a contact
   E - To Exit the Phonebook
Option : S
Please enter the name to search for : Brad
I'm sorry Brad is not found in the phonebook.

          Welcome to the Phonebook
-----------------------------------------------
   Please choose one of the options below.
   A - To add a contact
   S - To Search a contact
   E - To Exit the Phonebook
Option : E